In [7]:
import os
import cv2
from IPython.display import display_html, display
from PIL import Image as PILImage
# from utils import display_borderless_tables

from img2table.document import Image, PDF
from img2table.ocr import TesseractOCR, PaddleOCR

In [21]:
img = PDF("unfi.pdf")

In [23]:
tesseract = TesseractOCR()

# Extract tables with Tesseract and PaddleOCR
tables = img.extract_tables(ocr=tesseract, borderless_tables=True)

tables[0][0].df

tesseract 5.4.1
 leptonica-1.84.1
  libgif 5.2.1 : libjpeg 8d (libjpeg-turbo 3.0.0) : libpng 1.6.43 : libtiff 4.6.0 : zlib 1.2.12 : libwebp 1.4.0 : libopenjp2 2.5.2
 Found NEON
 Found libarchive 3.7.4 zlib/1.2.12 liblzma/5.4.6 bz2lib/1.0.8 liblz4/1.9.4 libzstd/1.5.6
 Found libcurl/8.6.0 SecureTransport (LibreSSL/3.3.6) zlib/1.2.12 nghttp2/1.61.0

/Users/samuel/opt/anaconda3/lib/python3.9/site-packages/img2table/tables/processing/bordered_tables/cells/identification.py:17: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  .rename({col: f"{col}_" for col in df_h_lines.columns})
/Users/samuel/opt/anaconda3/lib/python3.9/site-packages/img2table/tables/processing/bordered_tables/cells/deduplication.py:21: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  .rename({col: f"{col}_" for col in df_cells.columns})

,0,1,2,3,4
0,Vendor:,SUN,TROPICS/ABC BEV/CHIL,Ship,"UNFI - Dublin, CA Appt:"
1,None,123,Drinks Way,To:,dubappts@unfi.com
2,None,None,509-747-7447 Jack London,None,4000 Inspiration Drive
3,None,"SPOKANE, WA 99224","SPOKANE, WA 99224",None,"Dublin, CA 94568"

In [27]:
tables[0][1].df

,0,1,2,3,4,5,6,7,8
0,MIN 150 MASTER - NO MAX,None,None,None,None,None,None,None,None
1,Pls confirm SHIP/PU DATE by:,None,None,None,None,None,None,None,None
2,Phone:,None,None,None,None,None,None,None,None
3,or FAX:,None,None,None,None,None,None,None,None
4,o\nr\n:,None,None,None,None,None,None,None,None
5,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...
6,Buyer *\nP.O. #,None,Vendor#,Page,Page,None,None,None,*
7,* John Smith\n2000-002,None,G-829355,None,1,PURCH ORDER,PURCH ORDER,None,*
8,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...,**********************************************...
9,Created *\nShip Via,F.O.B.,None,Terms,Terms,None,None,Tax*,Tax*
10,* 08/01/24\nSUPPLIER,None,None,1\n%,1\n0,NET,1\n5,N,*

In [30]:
tables[0][2].df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Line,Qty,Cases,Plts,Prod#,Description,Description,Units,Units,Vendor,P.N.,Cost Extension,Cost Extension
1,1,150,150,2,10827,S T,MANGO NECTAR,8/64,oz,02420,None,300.00,45000.00
2,2,75,75,1,10829,s T,GUAVA NECTAR,8/64,oz,02421,None,350.00,26250.00
3,3,45,45,0.60,82058,s T,CALAMANSI LIM NECTAR,8/64,oz,100262,None,400.00,18000.00
4,4,75,75,1,11311,s T,PASSN/ORNG/GUAVA JCE,8/64,oz,10068,None,450.00,33750.00